*/* Utilisation de fonts */
@font-face { font-family: "Merienda"; src: url('../fonts/MeriendaOne-Regular.ttf'); }
@font-face { font-family: "dancing_in_the_rainbow"; src: url('../fonts/dancing_in_the_rainbow.ttf');}
@font-face { font-family: "sorbonne_font"; src: url('../fontsGascogne-Serial Regular.ttf'); }



* {
  box-sizing: border-box;
}



body {  width : 90%; background-color : #263A73; margin:auto; overflow-y: scroll ; position: relative;  }
header { width : 75%;  padding : 30px; text-align : center; margin:auto;transition: 0.5s; }
main {   background-color : #263A73; border-radius : 10px; padding : 30px; position: relative;

  box-shadow:  14px 14px 49px #1d2d59,
               -14px -14px 49px #2f478d;}


/* En-tête de la page */
header h1 { padding : 0px; height : 200px; width : 70%; margin:auto; background-image:url('../img/logoUniv2.png');
            background-size: 50%; background-repeat: no-repeat;  background-position:center;
          min-height: 120px; margin:auto; }


header:hover{transform: scale(1.05);}


header h1 a {display :block; margin : 0px; height: 100%; text-decoration: none; color :#ffff; font: caption; font-size:1em ;}






/* Menu de navigation */
nav li {  list-style-type : none; padding : 0px; margin-bottom : 10px; transition:8s;}
nav ul { margin:0;  padding:0;}

nav li :hover { transform: scale(1.05);}
nav li a { display : block; margin : 0; background-color : #263A73; border-radius : 10px; padding-top : 20px; padding-bottom : 20px; padding-left : 10px; padding-right : 10px; width:100%; vertical-align : middle;
   text-align : center; text-decoration : none;
  color :#ffff; font-style : italic;
  box-shadow:  8px 8px 25px #1d2d59,
               -8px -8px 25px #2f478d;
               font: caption;transition:0.5s;
}



h1 { font: caption; font-size: 2.5em; text-align: center; margin-top: 0px; color: #ffff}
.synopsis,.biographie { width: 80%; text-align: justify;}

label { display : block;  width : 150px; }
table { border-collapse : collapse; margin : auto; }
td,th { border : 1px solid black;  width : 300px; height : 30px; text-align : center;}
.sansBordure { border : 0px; width : 30px; padding-left : 0px;}

img.icone { width: 24px; margin: 5px; transition: 0.2s}
img.icone:hover{transform: scale(1.05);}



/* Liste des pages de résultats */
.listePages { width : 400px; margin : auto; padding-top : 20px; text-align: center; }
.listePages p { color : blue; padding: 0px; margin:0px;}
a.lienStart { text-decoration: none; display: inline-block; width : 25px; font-size: smaller; color : blue;}
a.active { color : red;}



body{
  display:grid;
  grid-template-columns: 1fr 6fr;
  column-gap: 1em;
  grid-template-areas:
  "h h"
  "menu main";
}

nav{
  grid-area: menu;
}
header{
  grid-area: h;
}

main{
  grid-area: main;
}


/* Si l'écran ne fait pas plus  de 1000 pixels de large */
@media (max-width:1000px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
    "h"
    "menu"
    "main";
   }
  header h1 { font-size : 2.5em; padding-top: 20px; height : 100px; }
  main, header{ margin-left : 0px; }

  nav ul{

      display: flex;
      justify-content: center;

  }







  nav li {display: inline-block; margin: 2em;}
}

button{
  border: 0;
  overflow: hidden;
  position: relative;
  background: transparent;
  color:white;
  border-radius: 30px;
}

table{
  font: caption; ;
  color :#ffff;
 border : 0px;



}

table th{

  font-size: 100%;
}

p{color:#ffff}


.com{

  background-color: red;


  color: red;
}

textarea#commentaire{
  background:#263A73;
  border-color: white;

padding-left: 12px;
padding-right: 12px;
padding-top: 12px;
padding-bottom: 12px;
color: white;
margin-top: 10px;
transition: 0.5s;
border-radius: 10px;
resize:none;
  overflow: auto;
  width: 100%;
  height: 200px;
}

textarea#commentaire:focus{border-color:#AE9F93;
  outline:  none;

  box-shadow: 0px 0px 10px -2px #AE9F93 ;


  
}


div.profilInfo li{

  color: #ffff;font: caption;font-size: 18px;

  list-style-type: none;
}

div.profilInfo p{

  color: #ffff;font: caption;font-size: 20px;
  font-weight: bold;
  list-style-type: none;
}

div.profilInfo a{

  color: #ffff;font: caption;font-size: 18px;
  font-weight: bold;
  list-style-type: none;
  transition: 0.5s;
}

div.profilInfo a:hover{
  text-shadow: #AE9F93 1px 0 5px;
  color: #AE9F93;
}





input#commentaire{
  margin-top: 10px;
  background-color: #AE9F93;
  font-weight: bold;
  padding: 8px;
  padding-left: 23px;
  padding-right: 23px;
  color: #ffff;
  font-size: 16px;
  border-radius: 5px;
  border: 0px;
  box-shadow: 3px;
  transition: all 0.1s;

}



input#commentaire:focus{transform: scale(0.95);}
